
#introduction-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px;
}

#home-page-logo {
    max-width: 900px;
}

#gnome-acorn-container
{
    display: flex;
    align-items: center;
    height : 380px;
    width : 800px;
    overflow: hidden;
}

#gnome-acorn-picture {
    max-width: 800px;
}

#unreal-panel {
    height: 1000px;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    font-family: Bebas Neue;
}

#unreal-panel-logo{
    max-width: 300px;
    margin-bottom: 20px;
}

#unreal-panel h1 {
    font-size: 100px;
    margin: 20px;
}

#gnome-panel {
    height: 1000px;
    padding: 10px;
}

#gnome-rapture
{
    max-width: 400px;
    margin-bottom: 20px;
}

#gnome-panel h1 {
    font-size: 70px;
    margin: 0px;
}

#defense-panel {
    height: 1000px;
    background-color: #ffffff;
}

#defense-panel h1 {
    font-size: 70px;
    color: #000000;
    margin: 40px;
}

#gnome-dusk {
    max-width: 1000px;
    margin-bottom: 40px;
    align-self: center;
}

#gnome-dusk-container {
    display: flex;
    max-width: 800px;
    max-height: 450px;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 40px;
}

#tool-panel {
    height: 1000px;
}

#tool-panel h1 {
    font-size: 70px;
    margin: 0px;
}

#gnome-axe {
    max-width: 1000px;
    max-height: 500px;
    margin-bottom: 20px;
}