
body {
  margin: 0;
  padding: 0;
  font-family: Pacifico;
  background-color: #333531;
  color: #ffffff;
}

body hr 
{
    width: 90%;
    border: #ffffff 2px solid;
    border-radius: 10px;
}

body div 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

#introduction-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px;
}

#home-page-logo {
    max-width: 900px;
}

#gnome-acorn-container
{
    display: flex;
    align-items: center;
    height : 380px;
    width : 800px;
    overflow: hidden;
}

#gnome-acorn-picture {
    max-width: 800px;
}

#unreal-panel {
    padding: 10px;
    background-color: #ffffff;
    color: black;
    font-family: Bebas Neue;
}

#unreal-panel-logo{
    max-width: 300px;
    margin-bottom: 20px;
}

#unreal-panel h1 {
    font-size: 100px;
    margin: 20px;
}

#gnome-panel {
    padding: 10px;
}

#gnome-rapture
{
    max-width: 400px;
    margin-bottom: 20px;
}

#gnome-panel h1 {
    font-size: 70px;
    margin: 0px;
}

#defense-panel {
    background-color: #ffffff;
}

#defense-panel h1 {
    font-size: 70px;
    color: #000000;
    margin: 20px;
}

#gnome-dusk {
    max-width: 1000px;
    margin-bottom: 20px;
}

#tool-panel h1 {
    font-size: 70px;
    margin: 0px;
}

#gnome-axe {
    max-width: 1000px;
    max-height: 500px;
    margin-bottom: 20px;
}